<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'/>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>

        <title>EduLinq Quiz Composer</title>

        <link rel="icon" href="images/favicon.png">

        <link rel='stylesheet' type='text/css' href='css/style.css'>
    </head>
    <body>
        <div class='page'>
            <h1>EduLinq Quiz Composer</h1>

            <div class='overview'>
                <p>
                    A tool for generating quizzes from a standard, text-based definition.
                </p>
                <p>You can find the main repository at <a href='https://github.com/edulinq/quiz-composer'>github.com/edulinq/quiz-composer</a>.</p>
                <p>Below you can find API references for various different version.</p>
                </p>
            </div>

            <div class='docs'>
                <span>Versions:</span>
                <ul>
                    <!-- API-DOC-MARKER -->
                </ul>
            </div>
        </div>
    </body>
</html>
