{% extends "questions/base.template" %}

{% block directions %}
    Place your answer within the textbox below.
{% endblock %}

{% block body %}
    {% set solution = this.answers[0].clean if answer_key else '' %}
    <textarea id='answer-{{ this.id }}' name='question-{{ this.id }}'>{{ solution }}</textarea>
{% endblock %}
