{% extends "partials/question.template" %}

{% block directions %}
Fill in the blank below:  
{% endblock %}

{% block body %}
{% if answer_key %}
*{{ question.answers[0].clean }}*
{% else %}
＿＿＿＿＿
{% endif %}
{% endblock %}
