{% extends "partials/question.template" %}

{% block directions %}
For each part, fill in the associated blank:  
{% endblock %}

{% block body %}

{% for part in question.answers.values() %}
{% if answer_key %}
{{ part.label }}: `{{ part.solutions[0].clean }}`  
{% else %}
{{ part.label }}: ＿＿＿＿＿  
{% endif %}
{% endfor %}
{% endblock %}
