{% extends "partials/question.template" %}

{% block directions %}
Fill in the blank below.
{% endblock %}

{% block body %}
{% if answer_key %}
Answer: {{ question.answers[0].clean }}
{% else %}
Answer: _____
{% endif %}
{% endblock %}
