{% extends "partials/question.template" %}

{% block directions %}
For each part, choose one.
{% endblock %}

{% block body %}
{% for part in question.answers %}
{{ part.label }}:
{% for choice in part.choices %}
{% if answer_key and choice.correct %}
{{ 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'[loop.index0] }}. {{ choice.text }} (correct)
{% else %}
{{ 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'[loop.index0] }}. {{ choice.text }}
{% endif %}
{% endfor %}

{% endfor %}
{% endblock %}
