{% extends "partials/question.template" %}

{% block directions %}
Provide a numerical answer below.
{% endblock %}

{% block body %}
{% if answer_key %}
Answer: {{ question.answers.solution }}
{% else %}
Answer: _____
{% endif %}
{% endblock %}
