{% extends "questions/base.template" %}

{% block directions %}
Fill in the blank below:  
{% endblock %}

{% block body %}
{% if answer_key %}
```
{{ this.answers[0].clean }}
```
{% else %}
```
|
|
|
```
{% endif %}
{% endblock %}
