{% extends "questions/base.template" %}

{% block directions %}
Choose all that apply:  
{% endblock %}

{% block body %}
{% for answer in this.answers %}
{% if answer_key and answer.correct %}
{{ answer.marker }}. {{ answer.text }} *(correct)*  
{% else %}
{{ answer.marker }}. {{ answer.text }}  
{% endif %}
{% endfor %}
{% endblock %}
