{% extends "questions/base.template" %}

{% block directions %}
Provide a numerical answer below:  
{% endblock %}

{% block body %}

{% if answer_key %}
```
{{ this.answers.solution }}
```
{% else %}
＿＿＿＿＿
{% endif %}
{% endblock %}
